@import "tailwindcss";

@theme {
  --color-kudi-green: var(--color-emerald-600);
  --color-kudi-gold: var(--color-amber-500);
  --color-kudi-bg: var(--color-slate-50);
  --color-kudi-dark: var(--color-slate-900);
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-kudi-bg);
    color: var(--color-kudi-dark);
  }
}
