@import "tailwindcss";

@theme {
  --color-kudi-green: var(--color-emerald-600);
  --color-kudi-gold: var(--color-amber-500);
  --color-kudi-bg: var(--color-slate-50);
  --color-kudi-dark: var(--color-slate-900);
  --font-sans: "Inter", sans-serif;

  --animate-blob: blob 7s infinite;
  --animate-fade-in-up: fade-in-up 0.8s ease-out forwards;
  --animate-marquee: marquee 35s linear infinite;
}

@layer base {
  body {
    background-color: var(--color-kudi-bg);
    color: var(--color-kudi-dark);
  }
}

@layer utilities {
  .animation-delay-150 {
    animation-delay: 150ms;
  }
  .animation-delay-300 {
    animation-delay: 300ms;
  }
  .animation-delay-500 {
    animation-delay: 500ms;
  }
  .animation-delay-700 {
    animation-delay: 700ms;
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
